body{
	background-color: #a8a8a8;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

*{
	padding: 0;
	margin: 0;
}

.clear{
	clear: both;
}

#container {

}

#topo{
	height: 200px;
	width: 100%;
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

#logo{
	margin: 1px red solid;
	width: 100px;
	height: 100px;
	background: url(../imagens/logo.png) #fff no-repeat;
	background-size: 100px;
	line-height: 100px;
	font-size: 30px;
	z-index: 11;
	position: absolute;
	top: 50px;
	left: 80px;
	border: 3px solid #410bd6;
}

#topo ul{
	height: 100%;
	width: 100%;
	text-align: center;
}

#topo li{
	display: inline-block;
}

#topo a{
	text-transform: uppercase;
	line-height: 200px;
	font-size: 20px;
	margin: 0 30px;
	text-decoration: none;
	color: #444444;
}

#topo a.atual{
	border-bottom: 3px solid #8a8a8a;
}

#topo a:hover{
	border-bottom: 3px solid #410bd6;
	color: #410bd6;
}

#topoback{
	height: 20px;
	width: 100%;
	background-color: #fff;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9;
}

#conteudo{
	margin-top: 250px;
}

#base{
	position: relative;
	height: 250px;
	background-color: #410bd6;
	z-index: 10;
}

#base ul{
	height: 100%;
	width: 100%;
	text-align: center;
}

#base li{
	display: inline-block;
}

#base a{
	margin: 0 60px;
	line-height: 250px;
}

#base img{
	width: 30px;
}

#baseback{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 20px;
	background-color: #410bd6;
	z-index: 9;
}